[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/bin/gh auth git-credential
[user]
	name = norimkx
	email = norimkx@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	quotePath = false
[diff]
	indentHeuristic = true
